[Unit]
Description=Hosted docker services, see /opt/docker_images/
After=docker.service

[Service]
ExecStartPre=/bin/sleep 10s
ExecStart=/usr/bin/jjs /opt/docker_images/docker_images.js -- start

[Install]
WantedBy=multi-user.target
